

%div{"ng-controller"=>"PostsCtrl"}
  %h1
    {{heading}}
  %form{"ng-submit"=>"create()", "name"=>"hello"}
    %label{"for"=>"title"}
      Title
    %input{"type"=>"text", "name"=>"title", "id"=>"title", "ng-model"=>"newPost.title"}
    %p
      {{newPost.title}}
    %textarea{"name"=>"content", "id"=>"content", "ng-model"=>"newPost.content"}
    %p
      {{newPost.description}}
    %input{"type"=>"submit"}  
  %li{"ng-repeat"=>"post in posts"}
    %h2{"ng-dblclick"=>"titleForm = !titleForm", "ng-show"=>"!titleForm"}
      {{post.title}}
    %form{"ng-submit"=>"update(post)"}
      %input{"type"=>"text", "name"=>"title", "id"=>"title", "ng-model"=>"post.title", "ng-show"=>"titleForm", "ng-init"=>"titleForm = false"}
    %h2  
      =link_to "X", "#", "ng-click"=>"destroy(post)"
    %p
      {{post.content}}

