

%div.container{"ng-controller"=>"PostsCtrl"}
  %nav  
    %p.text-right{"ng-show"=>"loggedIn", "ng-init"=>"loggedIn = false", "ng-click" =>"!loggedIn"}
      =link_to "Logout", logout_path 
    %h1
      {{heading}}
    %h2
      {{subheading}}
    %h3
      {{subsubheading}}    
  %form{"ng-submit"=>"create()", "name"=>"hello"}
    %div.input-group.col-md-12
      %div.col-md-8.col-md-offset-2 
        %label{"for"=>"title"}
          Title
      
        %input.form-control{"type"=>"text", "name"=>"title", "id"=>"title", "ng-model"=>"newPost.title"}
      %div.col-md-8.col-md-offset-2
        %label{"for"=>"content"}
          Memo
        %textarea.form-control{"name"=>"content", "id"=>"content", "ng-model"=>"newPost.content"}
        
        %div.col-md-12.spacer
      %div.col-md-4.col-md-offset-4
        %input.form-control.btn.btn-info{"type"=>"submit", "ng-click"=>"loggedIn=true"}
  %div.col-md-12.spacer
  %div.col-md-12.spacer
  %h2
    Post Preview:
  %div.col-md-4
    %div.panel.panel-primary
      %div.panel-heading
        %h2.panel-title.text-center
          {{newPost.title}}
      %div.panel-body
        %p
          {{newPost.content}}
  %div.col-md-12.spacer
  %div.col-md-12.spacer    
  %ul
    %li.list-unstyled.col-md-4{"ng-repeat"=>"post in posts"}
      %div.panel.panel-primary
        %div.panel-heading
          %h2.panel-title.text-center{"ng-dblclick"=>"titleForm = !titleForm", "ng-show"=>"!titleForm"}
            %span.panel-title.pull-right<
              =link_to "X", "#", "ng-click"=>"destroy(post)"
            %span.panel-title<
              {{post.title}}
                                        
          %form{"ng-submit"=>"update(post)"}
            %div.input-group.col-md-12
              %input.form-control{"type"=>"text", "name"=>"title", "id"=>"title", "ng-model"=>"post.title", "ng-show"=>"titleForm", "ng-init"=>"titleForm = false"}
              
        %div.panel-body
          %p{"ng-dblclick"=>"contentForm = !contentForm", "ng-show"=>"!contentForm"}
            {{post.content}}
          %form{"ng-submit"=>"update(post)"}
            %div.input-group.col-md-12
              %input.form-control{"type"=>"text", "name"=>"content", "id"=>"content", "ng-model"=>"post.content", "ng-show"=>"contentForm", "ng-init"=>"contentForm = false"}

